input {
  width: 100%;                
  font-size: 16px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #6f7061;  
  border-radius: 4px;         
}

input:focus {
  border-color: #c0ff00;
  box-shadow: 0 0 5px rgba(30, 30, 30, 0.5);
}

/* .card input + input {
  margin-top: 12px;
} */
