.card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;

  min-width: 125px;
  max-width: 200px;
  width: fit-content;
  height: 250px;

  gap: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cards_photos {
  box-sizing: border-box; /* Crucial : le padding ne fait plus grandir le parent */
  width: 100%; 
  padding: 5px;
  height: 250px;
  border: 2px solid red;
  overflow: hidden; /* Sécurité : coupe tout ce qui pourrait dépasser */
}






