.card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;

  min-width: 150px;
  width: fit-content;
  height: 250px;

  gap: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-buttons {
  margin-top: auto;
  display: flex;
    gap: 12px;
}

