.card-container {
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.dashboard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.button_Modal_Top {
  position:static;
  margin-right: 25px;
  margin-bottom: auto;
  margin-left: auto  ;
}